* {
    box-sizing: border-box;
    
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

h1,
h2, h3 {
    font-weight: 100;
}

/*IKONER - NY STYLING*/

#icons {
    margin: auto !important;
}

.description{
    padding: 1%;
        text-align:center;
}


.icons-flex-container p {
    color: #5d4645;
}

.icons-flex-item img {
    
    max-width: 80%;
    text-align: center;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.icons-flex-item:hover {
    opacity: .5;
    cursor: pointer;
}

.icons-flex-item {
    
    text-align: center;
    margin: auto;
}



.icons-flex-item a {
    text-decoration: none;
}

.icons h2 {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #5e4545;
    font-weight: 100;
}



/* TABS*/
#tabs{
    background: none;
    border: 1px solid #a1a1a1;
}
#baggrund {
    background: none;
    border: 0.5px solid #a1a1a1;
}
.brodtekst{
    color:black;
}
.overskrift{
    color: black;
    font-size: 15px;
}
.tabsmenu {
    background-color: white;
    height: 60px;
}

li a {
    border: 1.5px solid #a1a1a1;
}


/*Pop up effect fra: https://codepen.io/DominicFrancois/pen/vlJbf*/

.pop-up-button {

    cursor: pointer;
}

.pop-up {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 1;
    border-radius: 1opx;
    box-shadow: 0 0 20px #0000004a;
}

.pop-up-container {
    height: 30%;
    width: 100%;
    opacity: .5;
    position: relative;
    z-index: -1;

}

span {
    border-radius: 3em;
    margin-left: 95%;
    background: #cc3131;
    color: #fff;
    font-size: 1.25em;
    padding: .4em .7em;
    cursor: pointer;
}

.pop-up-text {
    box-sizing: border-box;
    padding: 2%;
}

.pop-up-text h1 {
    font-weight: 100;
    color: #212121;
    text-align: center;
}

.pop-up-text p {
    font-size: 1em;
    margin-bottom: 1em;
}

.pricetext {
    margin: 0;
    padding: 0;
}

.pop-up-text a {
    color: #FF3D3D;
    margin-bottom: 10px;
}

.pop-up-text img {
    max-height: 250px;

    text-align: center;
    margin-bottom: 10px;
}

/*Specifikationer tabel*/

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-erlg {
    
    font-weight: bold;
color:black;
    background-color:white;
    border: 2px solid black;

    vertical-align: top
}

.tg .tg-yw4l {
   vertical-align: top;
        color: black;
    border: 2px solid black;
}


/*PRISER*/

/*****Priser section*****/

.icons-flex-item {
    float: left;
    margin-right: 0;
    width: auto;
    border: 0;

    text-align: center;
}

.icons-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    height: auto;
}

.icons-flex-container {
    flex-grow: 1;
    margin: 20%;
}

.icons-flex-item img {
    max-height: 100%;
    max-width: 80%;
}

.reviewtext {

    margin: 5%;
    text-align: left;
        width: 200px;
}




#prices{
        margin: auto;
        padding: 2%;
}

#products{
    margin: auto;
    padding: 2%;
}

#reviews{
    margin: auto;
    padding: 2%;
 
    flex-grow: 1;
    margin: 0%;
}

#help{
      margin: auto;
    padding: 2%;
}

/*mobil*/

@media(max-width:767px) {
    nav {
        width: 100%;
    }

    /*****Projekter section*****/
    .icons-flex-item {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;

        text-align: center;
    }

    .icons-flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        height: auto;
        
    }

    .icons-flex-container {
        flex-grow: 1;
        margin: 20%;
        
    }

    .icons-flex-item img {
        max-height: 100%;
        max-width: 80%;
        
    }

}

/*tablet*/

@media (min-width:767px) and (max-width:1023px) {
    /*LOGO I HEADER____________________________________________________________*/
    #logo {
        width: 13em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    /*BOKS TIL BILLED____________________________________________________________*/
    #boks360 {
        border: 2px solid black;
        width: 45em;
        margin: 1em;
        height: 340px;
    }
    /*PRODUKTBESKRIVELSE_______________________________________________________*/
    .produkt {
        text-align: center;
    }
    /*IKONER__________________________________________________________________*/
    .flexcontainer {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        text-align: center;
       
        
    }
    /* .flexcontainer > * {
        padding: 10px;
        flex: 1 33, 33%;
    }*/
    .anmeldelser {
        margin-left: 16%;
    }


    /*****Priser*****/
    .icons-flex-item {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;

        text-align: center;
    }

    .icons-flex-container {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: space-between;
        height: auto;
        
    }

    .icons-flex-container {
        flex-grow: 1;
        margin: 0%;
        
    }

    .icons-flex-item img {
        max-height: 100%;
        max-width: 80%;
    }
   /*BOKS TIL BILLED____________________________________________________________*/

/* Style the tab */
.tab {
    float: right;
    margin-right: 7.6%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 10%;
    height: 116px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 12px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

    .grader{
        height: 28px;
    }
    .stopmotion {
               
    }
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
            display: block;
        margin-left: auto;
        margin-right: auto;
    padding: 0px 0px;
 border: 1px solid white;
    width: 84.7%;
    height: 300px;
}

    /*INDHOLD TIL SPECIFIKATIONER*/
}
